{
  "env": {
    "mocha": true
  },
  "rules": {
    "arrow-body-style": "off",
    "func-names": "off",
    "prefer-arrow-callback": "off",
    "no-unused-expressions": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
