{
  "extends": "airbnb-base",
  "rules": {
    "comma-dangle": ["error", {
      arrays: "always-multiline",
      objects: "always-multiline",
      functions: "never"
    }],
    "no-buffer-constructor": "off",
    "no-underscore-dangle": ["error", { "allow": ["_claim_names", "_claim_sources"] }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-param-reassign": ["error", { "props": false }],
    "prefer-destructuring": "off",
    "prefer-rest-params": "off",
    "prefer-spread": "off",
    "strict": "off"
  }
}
