<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Client Example</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style media="screen">
      body {
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/issuer">Issuer</a></li>
            <li><a href="/client">Client</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if (session.tokenset) { %>
              <li><a href="/user">Who am i?</a></li>
              <li><a href="/logout">Logout</a></li>
            <% } else {%>
              <li><a href="/login">Login</a></li>
            <% }%>
            <li><a href="/setup">New client setup</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <%- body %>
      <% if (session.tokenset && issuer.check_session_iframe) { %>
        <iframe width="1" height="1" style="position:absolute;left:-100px;top:-100px" id="opframe" src="<%= issuer.check_session_iframe %>"></iframe>
        <iframe width="1" height="1" style="position:absolute;left:-100px;top:-100px" id="rpframe" src="/rpframe"></iframe>
      <% } %>
    </div>
  </body>
</html>
