<html>
  <head>
    <title>Client Example</title>
  </head>
  <body>
    <script type="text/javascript">
      function parseQuery(queryString) {
        var query = {};
        var pairs = (queryString[0] === '?' ? queryString.substr(1) : queryString).split('&');
        for (var i = 0; i < pairs.length; i++) {
            var pair = pairs[i].split('=');
            query[decodeURIComponent(pair[0])] = decodeURIComponent(pair[1] || '');
        }
        return query;
      }

      var fields = parseQuery(window.location.hash.substring(1));

      var form = document.createElement('form');
      form.method = 'POST';

      Object.keys(fields).forEach((key) => {
        if (key) { // empty fragment will yield {"":""};
          var input = document.createElement('input');
          input.type = 'hidden';
          input.name = key;
          input.value = fields[key];
          form.appendChild(input);
        }
      });

      document.body.appendChild(form);
      form.submit();
    </script>
  </body>
</html>
