<h2>new client setup</h2>

<div>


  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% i = 0 %>
    <% for (var key in presets) { %>
      <li role="presentation" class="<%= i++ === 0 ? 'active' : ''%>"><a href="#<%=key%>" aria-controls="profile" role="tab" data-toggle="tab"><%=key%></a></li>
    <% } %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <% i = 0 %>
    <% for (var key in presets) { %>
      <div role="tabpanel" class="tab-pane <%= i++ === 0 ? 'active' : ''%>" id="<%=key%>">
        <pre><%= JSON.stringify(presets[key], null, 4) %></pre>
        <form action="/setup/<%= key %>" method="post">
          <button type="submit" class="btn btn-default">setup this client</button>
        </form>
      </div>
    <% } %>
  </div>

</div>
