<h2>tokens <%= tokens.expired() ? 'expired' : tokens.expires_in ? `fresh (expires in ${tokens.expires_in} seconds)`: '' %></h2>
<% if (tokens.refresh_token) { %>
<a href="/refresh">Refresh</a>
<% } %>
<pre><%= JSON.stringify(tokens, null, 4) %></pre>

<% if (id_token) { %>
<h2>id_token validated and decoded</h2>
<pre><%= JSON.stringify(id_token, null, 4) %></pre>
<% } %>

<% if (userinfo instanceof Error) { %>
  <h2>userinfo error</h2>
  <pre><%= userinfo %><br/><br/><%= JSON.stringify(userinfo, null, 4) %></pre>
<% } else if (userinfo) { %>
  <h2>userinfo response</h2>
  <pre><%= JSON.stringify(userinfo, null, 4) %></pre>
<% }%>

<% if (introspections) { %>
  <h2>introspections</h2>

  <% for (var key in introspections) { %>
    <% introspection = introspections[key] %>
    <% if (introspection instanceof Error) { %>
      <h3><%= key %> error</h3>
      <pre><%= introspection %><br/><br/><%= JSON.stringify(introspection, null, 4) %></pre>
    <% } else { %>
      <h3><%= key %> response</h3>
      <pre><%= JSON.stringify(introspection, null, 4) %></pre>
    <% }%>
  <% } %>
<% } %>
